Scheduler/flow-metadata/FINS_Retail_Banking_Starter_Julie_Morris_Wealth_Referral.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <actionCalls>
        <name>Save_Appointment</name>
        <label>Save Appointment</label>
        <locationX>512</locationX>
        <locationY>629</locationY>
        <actionName>saveAppointment</actionName>
        <actionType>saveAppointment</actionType>
        <connector>
            <targetReference>SetConfirmationStage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetReviewStage</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>optionalServiceResourceId</name>
            <value>
                <elementReference>optionalAttendees</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointmentFields</name>
            <value>
                <elementReference>serviceAppointmentFields</elementReference>
            </value>
        </inputParameters>
        <nameSegment>saveAppointment</nameSegment>
        <outputParameters>
            <assignToReference>ServiceAppointment.Id</assignToReference>
            <name>serviceAppointmentId</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>SetAppointmentStage</name>
        <label>Set Appointment Stage</label>
        <locationX>708</locationX>
        <locationY>76</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AppointmentTypeStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AppointmentTypeScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetConfirmationStage</name>
        <label>Set Confirmation Stage</label>
        <locationX>976</locationX>
        <locationY>605</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConfirmationStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConfirmationScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetInitialValues</name>
        <label>Set Initial Values</label>
        <locationX>314</locationX>
        <locationY>268</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AdditionalInformation</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Comments</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AppointmentType</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Street</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.City</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.State</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.PostalCode</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Country</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>optionalAttendees</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceAppointmentFields</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>validationErrors</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ContactId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>SetTopicStage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTimeSlotStage</name>
        <label>Set Time Slot Stage</label>
        <locationX>1073</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeSlotStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TimeSlotScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReviewStage</name>
        <label>Set Review Stage</label>
        <locationX>720</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReviewStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReviewScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTopicStage</name>
        <label>Set Topic Stage</label>
        <locationX>568</locationX>
        <locationY>75</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TopicStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TopicScreen</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FIND_RESOURCE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>findResource</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>Retail Banking - Starter - Julie Morris Wealth Referral {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retail Banking - Starter - Julie Morris Wealth Referral</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <recordLookups>
        <name>Get_Contact_Center_Service_Territory</name>
        <label>Get Contact Center Service Territory</label>
        <locationX>990</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Default_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Market St Branch, San Francisco</stringValue>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputAssignments>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Service_Resource</name>
        <label>Get Default Service Resource</label>
        <locationX>1030</locationX>
        <locationY>280</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetTimeSlotStage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TerritoryType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P</stringValue>
            </value>
        </filters>
        <object>ServiceTerritoryMember</object>
        <outputAssignments>
            <assignToReference>serviceResourceId</assignToReference>
            <field>ServiceResourceId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>AppointmentTypeScreen</name>
        <label>Appointment Type Screen</label>
        <locationX>780</locationX>
        <locationY>259</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact_Center_Service_Territory</targetReference>
        </connector>
        <fields>
            <name>flowApptType</name>
            <extensionName>runtime_appointmentbooking:flowApptType</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedApptType</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentType</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.AppointmentType</assignToReference>
                <name>selectedApptType</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AttendeesScreen</name>
        <label>Attendees Screen</label>
        <locationX>441</locationX>
        <locationY>64</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetTopicStage</targetReference>
        </connector>
        <fields>
            <name>flowTriage</name>
            <extensionName>runtime_appointmentbooking:flowTriage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>option</name>
                <value>
                    <elementReference>selectedTriageOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceName</name>
                <value>
                    <elementReference>serviceResourceName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isInbound</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.ParentRecordId</assignToReference>
                <name>parentRecordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedTriageOption</assignToReference>
                <name>option</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResourceId</assignToReference>
                <name>serviceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResourceName</assignToReference>
                <name>serviceResourceName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.ContactId</assignToReference>
                <name>contactId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmationScreen</name>
        <label>Confirmation Screen</label>
        <locationX>684</locationX>
        <locationY>605</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>flowConfirm</name>
            <extensionName>runtime_appointmentbooking:flowConfirm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ReviewScreen</name>
        <label>Review Screen</label>
        <locationX>600</locationX>
        <locationY>560</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Save_Appointment</targetReference>
        </connector>
        <fields>
            <name>flowReview</name>
            <extensionName>runtime_appointmentbooking:flowReview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>additionalInformation</name>
                <value>
                    <elementReference>ServiceAppointment.AdditionalInformation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentType</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>ServiceAppointment.City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments</name>
                <value>
                    <elementReference>ServiceAppointment.Comments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>ServiceAppointment.ContactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>ServiceAppointment.Country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>endDateTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionalAttendees</name>
                <value>
                    <elementReference>optionalAttendees</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>ServiceAppointment.PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveErrors</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceAppointmentFields</name>
                <value>
                    <elementReference>serviceAppointmentFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>startDateTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>ServiceAppointment.State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>ServiceAppointment.Street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>serviceAppointmentFields</assignToReference>
                <name>serviceAppointmentFields</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>optionalAttendees</assignToReference>
                <name>optionalAttendees</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TimeSlotScreen</name>
        <label>Time Slot Screen</label>
        <locationX>917</locationX>
        <locationY>385</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetReviewStage</targetReference>
        </connector>
        <fields>
            <name>flowTimeslot</name>
            <extensionName>runtime_appointmentbooking:flowTimeslot</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>appointmentType</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currStartDate</name>
                <value>
                    <elementReference>startDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
                <name>selectedStartTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
                <name>selectedEndTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>startDate</assignToReference>
                <name>currStartDate</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TopicScreen</name>
        <label>Topic Screen</label>
        <locationX>566</locationX>
        <locationY>184</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetAppointmentStage</targetReference>
        </connector>
        <fields>
            <name>flowWorkType</name>
            <extensionName>runtime_appointmentbooking:flowWorkType</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalInformation</name>
                <value>
                    <elementReference>ServiceAppointment.AdditionalInformation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments</name>
                <value>
                    <elementReference>ServiceAppointment.Comments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>workTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.AdditionalInformation</assignToReference>
                <name>additionalInformation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.Comments</assignToReference>
                <name>comments</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>AppointmentTypeStage</name>
        <isActive>true</isActive>
        <label>Select Appointment Type</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>AttendeesStage</name>
        <isActive>true</isActive>
        <label>Select Attendees</label>
        <stageOrder>0</stageOrder>
    </stages>
    <stages>
        <name>CandidateStage</name>
        <isActive>true</isActive>
        <label>Select Candidate</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>ConfirmationStage</name>
        <isActive>true</isActive>
        <label>Confirmation</label>
        <stageOrder>70</stageOrder>
    </stages>
    <stages>
        <name>LocationStage</name>
        <isActive>true</isActive>
        <label>Select Location</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>ReviewStage</name>
        <isActive>true</isActive>
        <label>Review</label>
        <stageOrder>60</stageOrder>
    </stages>
    <stages>
        <name>TimeSlotStage</name>
        <isActive>true</isActive>
        <label>Select Time Slot</label>
        <stageOrder>50</stageOrder>
    </stages>
    <stages>
        <name>TopicStage</name>
        <isActive>true</isActive>
        <label>Select Topic</label>
        <stageOrder>10</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SetInitialValues</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>locationDistance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>locationLatitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>locationLongitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>optionalAttendees</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTriageOption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>serviceAppointmentFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResourceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>startDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validationErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workTypeGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
